* {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.font-lato {
  font-family: 'Lato', sans-serif;
}

.h-91vh {
  height: 91vh;
}

.h-45vh {
  height: 45vh;
}

.indent-10 {
  text-indent: 10px;
}
